## Introduction to pandas with flowmasterB
## We will cover Series, DataFrame, and .csv files
## Let's begin by importing pandas - shorten name - save typying :-)

In [3]:
# import pandas as a shorter name, so we have less to type
import pandas as pd

In [7]:
# 2 Main datatypes - use the Series function - one dimensional column
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
## We create another series, this time with color options for the cars
colors = pd.Series(["Red", "Blue", "White"])
colors

0      Red
1     Blue
2    White
dtype: object

In [14]:
## Next we create a two dimensional dataframe - more common than a series
## We can use the two series from above to create 2 columns from the combine
car_data = pd.DataFrame({"Make": series,"Color": colors})
car_data

     Make  Color
0     BMW    Red
1  Toyota   Blue
2   Honda  White

In [19]:
## Yep, that's tedious! Let's try importing some data!
## TIP*: Columns are axis = 1 and rows are axis = 0 when you see them in
## python function. See image of anatomy of a DataFrame

car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [20]:
## Anatomy of a pandas DataFrame

![Anatomy of a DataFrame](pandas-dataframe-anatomy.png)

In [22]:
## Exporting the final product -- this creates a csv file -- it will be in your dashboard
car_sales.to_csv("exported-car-sales.csv")

In [23]:
## Let's import it back and see what it looks like
exported_car_sales = pd.read_csv("exported-car-sales.csv")
exported_car_sales

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

In [25]:
## Weird. There seems to be an extra index column We need to use 
## index=False when we export to solve this issue
car_sales.to_csv("exported-car-sales.csv", index=False)

In [26]:
## Import it back and let's check
exported_car_sales = pd.read_csv("exported-car-sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [27]:
## Voila! We have only one index column now! Awesome.
## Next is Describing Data with Pandas.